**COMEÇO DO PROJETO**

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy import stats

from math import sqrt

**INTRODUÇÃO**

O objetivo do nosso projeto é comparar o perfil dos participantes do ENEM de 2019 a 2023 e construir uma análise exploratória de dados que permita entender (prever) a Média Ponderada via ENEM (MPE) para candidatos interessados em ADM/ECO.

Assim, para compreender a importância dessa análise é muito importante recorrer ao nosso contexto: O ENEM é muito
importante como ferramenta de acesso ao ensino superior, ainda mais quando se pensa em regiões afastadas das
capitais, onde realizar um vestibular para uma faculdade renomada é um processo muito difícil, não assistido por
essas instituições. Além do mais, realizar um vestibular que permite o ingresso para dezenas de federais diminui em
muito a burocracia num cenário onde é necessário fazer vários vestibulares, além dos possíveis custos envolvidos,
como transporte ou taxas de inscrições. Desse modo, percebe-se que esses, e muitos outros motivos, demonstram como
o ENEM a ajuda todos os estudantes.

Ademais, é relevante abordar brevemente a estrutura da base de microdados do ENEM, a qual será utilizada como base
para nossa ADE (Análise Exploratória de Dados). Assim, contida nela nós temos informações importantes que podem ser divididas em grupos para facilitar a sua compreensão, podendo ser, pelo mesmo motivo enumeradas:
        
- **1: Informações pessoais do vestibulando**: neste grupo, constam todo tipo de informações sobre o estudante, desde número de inscrição e tipo de ensino médio, até faixa etária e cor ou raça.
- **2: Informações sobre tipo e local de realização da prova**: aqui, estão contidos todos os dados relativos à realização da prova, principalmente de
localização.
- **3: Informações de desempenho do vestibulando**: dados relativos ao desempenho do vestibulando em diferentes áreas, incluindo diferentes abordagens para além do número de acertos, como, por exemplo, taxas de acertos.
- **4: Informações adicionais:** informações adicionais identificadas por um código, onde se obtém informações como, por exemplo, escolaridade dos pais.

Nesse momento, faz-se relevante introduzir a pergunta central do nosso estudo:
        
“O perfil do candidato e seu desempenho nas provas do ENEM mudaram entre 2019 e 2023? Essas mudanças impactam a previsão da média ponderada para uma determinada escolha de curso?”

**MINERANDO DADOS E CARACTERÍSTICAS DO DATASET**

Como já abordado, as bases utilizadas serão os Microdados do ENEM de 2019 a 2023, obtidos no site do INEP.

Para facilitar a compreensão da análise, cabe destacar a estrutura dos arquivos utilizados. Os arquivos utilizados 
estão no formato .csv, possuindo tamanho de 3933955 linhas por 76 colunas e seguem uma disposição de informações onde
há títulos no topo das colunas e as respectivas informações nas linhas abaixo. A organização, realizada acima, das colunas por tipo de informações, ajuda na compreensão dos dados fornecidos pelo INEP.

Por fim, é de grande importância deixar claro a seleção das features do grupo, assim como os filtros de linhas e
colunas adotados:
        
O objetivo principal desse trabalho é comparar os resultados e verificar qual foi o perfil de estudante mais prejudicado pela pandemia. Assim, para isso será necessário correlacionar a escolaridade dos pais com a nota dos filhos na prova, utilizando-se das colunas Q001, Q002, Q003, Q004, Q022, Q025 e todas as colunas de nota, além da região em que o aluno estudou e seus resultados na prova, valendo-se da coluna TP_LOCALIZACAO_ESC, e o desempenho de alunos de escola pública e particular.
Sendo assim, para o filtro de colunas de 2019 e 2023 foram selecionados as seguintes colunas:
        
'TP_SEXO','TP_COR_RACA','TP_ST_CONCLUSAO','TP_DEPENDENCIA_ADM_ESC','TP_ESCOLA','TP_LOCALIZACAO_ESC','Q001','Q002', 'Q003', 'Q004', 'Q006', 'Q022', 'Q025',
        
assim como para o de linhas foram selecionadas tais linhas:
        
'TP_ST_CONCLUSAO', 'TP_STATUS_REDACAO', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_MT', 'TP_PRESENCA_LC', 'IN_TREINEIRO'.

In [2]:
#Importando e filtrando os dados contidos na planilha dos microdados ENEM
# df23 = pd.read_csv('MICRODADOS_ENEM_2023.csv', sep=';', encoding='ISO-8859-1')

# df19 = pd.read_csv('MICRODADOS_ENEM_2019.csv', sep=';', encoding='ISO-8859-1')

In [3]:
# df23['MPE'] = 0.75 * (0.25 * df23['NU_NOTA_LC'] + 0.4 * df23['NU_NOTA_MT'] + 0.25 * df23['NU_NOTA_CH'] + 0.1 * df23['NU_NOTA_CN']) + 0.25*df23['NU_NOTA_REDACAO']

# df19['MPE'] = 0.75 * (0.25 * df19['NU_NOTA_LC'] + 0.4 * df19['NU_NOTA_MT'] + 0.25 * df19['NU_NOTA_CH'] + 0.1 * df19['NU_NOTA_CN']) + 0.25*df19['NU_NOTA_REDACAO']

In [4]:


# filtro = (
#     (df23['IN_TREINEIRO'] == 0) &
#     (df23['TP_PRESENCA_LC'] == 1) &
#     (df23['TP_PRESENCA_MT'] == 1) &
#     (df23['TP_PRESENCA_CH'] == 1) &
#     (df23['TP_PRESENCA_CN'] == 1) &
#     (df23['TP_STATUS_REDACAO'] == 1) &
#     (df23['TP_ST_CONCLUSAO'] == 2)
    
# )

# colunas23 = ['MPE','TP_SEXO','TP_COR_RACA','TP_ST_CONCLUSAO','TP_DEPENDENCIA_ADM_ESC','TP_ESCOLA','TP_LOCALIZACAO_ESC','Q001','Q002', 'Q003', 'Q004', 'Q006', 'Q022', 'Q025']
# df23 = df23.loc[filtro, colunas23].copy()

In [5]:


# filtro = (
#     (df19['IN_TREINEIRO'] == 0) &
#     (df19['TP_PRESENCA_LC'] == 1) &
#     (df19['TP_PRESENCA_MT'] == 1) &
#     (df19['TP_PRESENCA_CH'] == 1) &
#     (df19['TP_PRESENCA_CN'] == 1) &
#     (df19['TP_STATUS_REDACAO'] == 1) &
#     (df19['TP_ST_CONCLUSAO'] == 2)
    
# )

# colunas19 = ['MPE','TP_SEXO','TP_COR_RACA','TP_ST_CONCLUSAO','TP_DEPENDENCIA_ADM_ESC','TP_ESCOLA','TP_LOCALIZACAO_ESC','Q001','Q002', 'Q003', 'Q004', 'Q006', 'Q022', 'Q025']
# df19 = df19.loc[filtro, colunas19].copy()

In [6]:
# df23.head(5)

# Criando novo arquivo filtrado

In [7]:
# #Arquivo de 2019 
# df19.to_csv('enem_19.csv') 

# #Arquivo de 2023 
# df23.to_csv('enem_23.csv')

In [8]:
df19 = pd.read_csv('enem_19.csv')
df23 = pd.read_csv('enem_23.csv')

In [9]:
df19.head(5)

,Unnamed: 0,MPE,TP_SEXO,TP_COR_RACA,TP_ST_CONCLUSAO,TP_DEPENDENCIA_ADM_ESC,TP_ESCOLA,TP_LOCALIZACAO_ESC,Q001,Q002,Q003,Q004,Q006,Q022,Q025
0,9,481.99000,M,1,2,NaN,2,NaN,E,E,B,B,F,C,B
1,26,744.41250,F,1,2,4.0,3,1.0,E,E,B,B,E,C,B
2,28,479.76625,F,1,2,2.0,2,1.0,E,B,B,B,A,D,A
3,31,516.73500,F,2,2,2.0,2,1.0,E,F,B,D,B,D,B
4,34,630.12875,M,2,2,2.0,2,1.0,E,C,B,B,B,C,B

# Renomeando as features

Nessa sessão vamos renomear para uma qualitativa

In [10]:
#Primeiramente, transformando em category váriaveis qualitativas

#Para 2019 
df19['TP_SEXO'] = df19.TP_SEXO.astype('category')
df19['TP_COR_RACA'] = df19.TP_COR_RACA.astype('category')
df19['TP_ST_CONCLUSAO'] = df19.TP_ST_CONCLUSAO.astype('category')
df19['TP_ESCOLA'] = df19.TP_ESCOLA.astype('category')
df19['TP_DEPENDENCIA_ADM_ESC'] = df19.TP_DEPENDENCIA_ADM_ESC.astype('category')
df19['TP_LOCALIZACAO_ESC'] = df19.TP_LOCALIZACAO_ESC.astype('category')


#Para 2023 
df23['TP_SEXO'] = df23.TP_SEXO.astype('category')
df23['TP_COR_RACA'] = df23.TP_COR_RACA.astype('category')
df23['TP_ST_CONCLUSAO'] = df23.TP_ST_CONCLUSAO.astype('category')
df23['TP_ESCOLA'] = df23.TP_ESCOLA.astype('category')
df23['TP_DEPENDENCIA_ADM_ESC'] = df23.TP_DEPENDENCIA_ADM_ESC.astype('category')
df23['TP_LOCALIZACAO_ESC'] = df23.TP_LOCALIZACAO_ESC.astype('category')


#Agora renomeando 2019

df19["TP_DEPENDENCIA_ADM_ESC"] = df19["TP_DEPENDENCIA_ADM_ESC"].cat.rename_categories({
    1: "Federal",
    2: "Estadual",
    3: "Municipal",
    4: "Privada"
})


# Q001 – Escolaridade do pai
df19["Q001"] = df19["Q001"].astype("category")
df19["Q001"] = df19["Q001"].cat.rename_categories({
    "A": "Nunca estudou.",
    "B": "Não completou a 4ª série/5º ano do Ensino Fundamental.",
    "C": "Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.",
    "D": "Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.",
    "E": "Completou o Ensino Médio, mas não completou a Faculdade.",
    "F": "Completou a Faculdade, mas não completou a Pós-graduação.",
    "G": "Completou a Pós-graduação.",
    "H": "Não sei."
})

# Q002 – Escolaridade da mãe
df19["Q002"] = df19["Q002"].astype("category")
df19["Q002"] = df19["Q002"].cat.rename_categories({
    "A": "Nunca estudou.",
    "B": "Não completou a 4ª série/5º ano do Ensino Fundamental.",
    "C": "Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.",
    "D": "Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.",
    "E": "Completou o Ensino Médio, mas não completou a Faculdade.",
    "F": "Completou a Faculdade, mas não completou a Pós-graduação.",
    "G": "Completou a Pós-graduação.",
    "H": "Não sei."
})

# Q003 – Ocupação do pai
df19["Q003"] = df19["Q003"].astype("category")
df19["Q003"] = df19["Q003"].cat.rename_categories({
    "A": "Grupo 1: Lavrador, agricultor sem empregados, bóia-fria, criador de animais, pescador, lenhador, extrativista.",
    "B": "Grupo 2: Diarista, empregada doméstica, jardineiro, motorista particular, porteiro, atendente, vendedor, auxiliar de escritório.",
    "C": "Grupo 3: Padeiro, cozinheiro, mecânico, soldador, operador de máquina, eletricista, cabeleireiro, policial, técnico, pequeno comerciante.",
    "D": "Grupo 4: Professor, técnico de enfermagem, contador, militar de baixa patente, policial militar, mestre de obras, proprietário de pequeno negócio.",
    "E": "Grupo 5: Médico, engenheiro, dentista, advogado, professor universitário, empresário, diretor, proprietário de empresa de médio ou grande porte."
})

# Q004 – Ocupação da mãe
df19["Q004"] = df19["Q004"].astype("category")
df19["Q004"] = df19["Q004"].cat.rename_categories({
    "A": "Grupo 1: Lavradora, agricultora sem empregados, bóia-fria, criadora de animais, pescadora, lenhadora, extrativista.",
    "B": "Grupo 2: Diarista, empregada doméstica, babá, cozinheira, costureira, manicure, atendente, balconista, auxiliar de escritório.",
    "C": "Grupo 3: Padeira, cozinheira industrial, cabeleireira, operadora de máquina, técnica, enfermeira, professora de ensino fundamental, pequena comerciante.",
    "D": "Grupo 4: Professora de ensino médio, técnica de laboratório, policial, militar, proprietária de pequeno negócio.",
    "E": "Grupo 5: Médica, engenheira, dentista, advogada, professora universitária, empresária, diretora, proprietária de empresa de médio ou grande porte."
})

# Q006 – Renda familiar mensal
df19["Q006"] = df19["Q006"].astype("category")
df19["Q006"] = df19["Q006"].cat.rename_categories({
    "A": "Nenhuma renda.",
    "B": "Até R$ 1.320,00.",
    "C": "De R$ 1.320,01 até R$ 1.980,00.",
    "D": "De R$ 1.980,01 até R$ 2.640,00.",
    "E": "De R$ 2.640,01 até R$ 3.300,00.",
    "F": "De R$ 3.300,01 até R$ 3.960,00.",
    "G": "De R$ 3.960,01 até R$ 5.280,00.",
    "H": "De R$ 5.280,01 até R$ 6.600,00.",
    "I": "De R$ 6.600,01 até R$ 7.920,00.",
    "J": "De R$ 7.920,01 até R$ 9.240,00.",
    "K": "De R$ 9.240,01 até R$ 10.560,00.",
    "L": "De R$ 10.560,01 até R$ 11.880,00.",
    "M": "De R$ 11.880,01 até R$ 13.200,00.",
    "N": "De R$ 13.200,01 até R$ 15.840,00.",
    "O": "De R$ 15.840,01 até R$ 19.800,00.",
    "P": "De R$ 19.800,01 até R$ 26.400,00.",
    "Q": "Acima de R$ 26.400,00."
})

# Q022 – Acesso à internet
df19["Q025"] = df19["Q025"].astype("category")
df19["Q025"] = df19["Q025"].cat.rename_categories({
    "A": "Não.",
    "B": "Sim"
})

# Q025 – Acesso à água encanada
df19["Q022"] = df19["Q022"].astype("category")
df19["Q022"] = df19["Q022"].cat.rename_categories({
    "A": "Não.",
    "B": "Sim, um.",
    "C": "Sim, dois.",
    "D": "Sim, três.",
    "E": "Sim, quatro ou mais."
})


df19.TP_SEXO = df19.TP_SEXO.cat.rename_categories({'M': 'Masculino', 'F': 'Feminino'})


df19.TP_COR_RACA = df19.TP_COR_RACA.cat.rename_categories({0: 'Não declarado', 1: 'Branca', 2: 'Preta', 3: 'Parda', 4: 'Amarela', 5: 'Indígena'})

df19["TP_ST_CONCLUSAO"] = df19["TP_ST_CONCLUSAO"].cat.rename_categories({
    1: "Já concluiu o Ensino Médio",
    2: "Estou cursando e concluirei o Ensino Médio em 2019",
    3: "Estou cursando e concluirei o Ensino Médio após 2019",
    4: "Não concluiu e não está cursando o Ensino Médio"
})

df19["TP_ST_CONCLUSAO"] = df19["TP_ST_CONCLUSAO"].cat.rename_categories({
    1: "Já concluiu o Ensino Médio",
    2: "Estou cursando e concluirei o Ensino Médio em 2019",
    3: "Estou cursando e concluirei o Ensino Médio após 2019",
    4: "Não concluiu e não está cursando o Ensino Médio"
})

df19["TP_ESCOLA"] = df19["TP_ESCOLA"].cat.rename_categories({
    1: "Não respondeu",
    2: "Pública",
    3: "Privada",
    4: "Exterior"
})


df19['TP_LOCALIZACAO_ESC'] = df19['TP_LOCALIZACAO_ESC'].cat.rename_categories({ 1: 'Urbana', 2: 'Rural'}) 

#Agora renomeando 2023 

df23["TP_DEPENDENCIA_ADM_ESC"] = df23["TP_DEPENDENCIA_ADM_ESC"].cat.rename_categories({
    1: "Federal",
    2: "Estadual",
    3: "Municipal",
    4: "Privada"
})


# Q001 – Escolaridade do pai
df23["Q001"] = df23["Q001"].astype("category")
df23["Q001"] = df23["Q001"].cat.rename_categories({
    "A": "Nunca estudou.",
    "B": "Não completou a 4ª série/5º ano do Ensino Fundamental.",
    "C": "Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.",
    "D": "Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.",
    "E": "Completou o Ensino Médio, mas não completou a Faculdade.",
    "F": "Completou a Faculdade, mas não completou a Pós-graduação.",
    "G": "Completou a Pós-graduação.",
    "H": "Não sei."
})

# Q002 – Escolaridade da mãe
df23["Q002"] = df23["Q002"].astype("category")
df23["Q002"] = df23["Q002"].cat.rename_categories({
    "A": "Nunca estudou.",
    "B": "Não completou a 4ª série/5º ano do Ensino Fundamental.",
    "C": "Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.",
    "D": "Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.",
    "E": "Completou o Ensino Médio, mas não completou a Faculdade.",
    "F": "Completou a Faculdade, mas não completou a Pós-graduação.",
    "G": "Completou a Pós-graduação.",
    "H": "Não sei."
})

# Q003 – Ocupação do pai
df23["Q003"] = df23["Q003"].astype("category")
df23["Q003"] = df23["Q003"].cat.rename_categories({
    "A": "Grupo 1: Lavrador, agricultor sem empregados, bóia-fria, criador de animais, pescador, lenhador, extrativista.",
    "B": "Grupo 2: Diarista, empregada doméstica, jardineiro, motorista particular, porteiro, atendente, vendedor, auxiliar de escritório.",
    "C": "Grupo 3: Padeiro, cozinheiro, mecânico, soldador, operador de máquina, eletricista, cabeleireiro, policial, técnico, pequeno comerciante.",
    "D": "Grupo 4: Professor, técnico de enfermagem, contador, militar de baixa patente, policial militar, mestre de obras, proprietário de pequeno negócio.",
    "E": "Grupo 5: Médico, engenheiro, dentista, advogado, professor universitário, empresário, diretor, proprietário de empresa de médio ou grande porte."
})

# Q004 – Ocupação da mãe
df23["Q004"] = df23["Q004"].astype("category")
df23["Q004"] = df23["Q004"].cat.rename_categories({
    "A": "Grupo 1: Lavradora, agricultora sem empregados, bóia-fria, criadora de animais, pescadora, lenhadora, extrativista.",
    "B": "Grupo 2: Diarista, empregada doméstica, babá, cozinheira, costureira, manicure, atendente, balconista, auxiliar de escritório.",
    "C": "Grupo 3: Padeira, cozinheira industrial, cabeleireira, operadora de máquina, técnica, enfermeira, professora de ensino fundamental, pequena comerciante.",
    "D": "Grupo 4: Professora de ensino médio, técnica de laboratório, policial, militar, proprietária de pequeno negócio.",
    "E": "Grupo 5: Médica, engenheira, dentista, advogada, professora universitária, empresária, diretora, proprietária de empresa de médio ou grande porte."
})

# Q006 – Renda familiar mensal
df23["Q006"] = df23["Q006"].astype("category")
df23["Q006"] = df23["Q006"].cat.rename_categories({
    "A": "Nenhuma renda.",
    "B": "Até R$ 1.320,00.",
    "C": "De R$ 1.320,01 até R$ 1.980,00.",
    "D": "De R$ 1.980,01 até R$ 2.640,00.",
    "E": "De R$ 2.640,01 até R$ 3.300,00.",
    "F": "De R$ 3.300,01 até R$ 3.960,00.",
    "G": "De R$ 3.960,01 até R$ 5.280,00.",
    "H": "De R$ 5.280,01 até R$ 6.600,00.",
    "I": "De R$ 6.600,01 até R$ 7.920,00.",
    "J": "De R$ 7.920,01 até R$ 9.240,00.",
    "K": "De R$ 9.240,01 até R$ 10.560,00.",
    "L": "De R$ 10.560,01 até R$ 11.880,00.",
    "M": "De R$ 11.880,01 até R$ 13.200,00.",
    "N": "De R$ 13.200,01 até R$ 15.840,00.",
    "O": "De R$ 15.840,01 até R$ 19.800,00.",
    "P": "De R$ 19.800,01 até R$ 26.400,00.",
    "Q": "Acima de R$ 26.400,00."
})

# Q022 – Acesso à internet
df23["Q025"] = df23["Q025"].astype("category")
df23["Q025"] = df23["Q025"].cat.rename_categories({
    "A": "Não.",
    "B": "Sim"
})

# Q025 – telefone celular
df23["Q022"] = df23["Q022"].astype("category")
df23["Q022"] = df23["Q022"].cat.rename_categories({
    "A": "Não.",
    "B": "Sim, um.",
    "C": "Sim, dois.",
    "D": "Sim, três.",
    "E": "Sim, quatro ou mais."
})


df23.TP_SEXO = df23.TP_SEXO.cat.rename_categories({'M': 'Masculino', 'F': 'Feminino'})

df23.TP_COR_RACA = df23.TP_COR_RACA.cat.rename_categories({0: 'Não declarado', 1: 'Branca', 2: 'Preta', 3: 'Parda', 4: 'Amarela', 5: 'Indígena'})

df23["TP_ST_CONCLUSAO"] = df23["TP_ST_CONCLUSAO"].cat.rename_categories({
    1: "Já concluiu o Ensino Médio",
    2: "Estou cursando e concluirei o Ensino Médio em 2019",
    3: "Estou cursando e concluirei o Ensino Médio após 2019",
    4: "Não concluiu e não está cursando o Ensino Médio"
})

df23["TP_ST_CONCLUSAO"] = df23["TP_ST_CONCLUSAO"].cat.rename_categories({
    1: "Já concluiu o Ensino Médio",
    2: "Estou cursando e concluirei o Ensino Médio em 2019",
    3: "Estou cursando e concluirei o Ensino Médio após 2019",
    4: "Não concluiu e não está cursando o Ensino Médio"
})

df23["TP_ESCOLA"] = df23["TP_ESCOLA"].cat.rename_categories({
    1: "Não respondeu",
    2: "Pública",
    3: "Privada",
    4: "Exterior"
})

df23['TP_LOCALIZACAO_ESC'] = df23['TP_LOCALIZACAO_ESC'].cat.rename_categories({ 1: 'Urbana', 2: 'Rural'})

In [11]:
df19.head(5)

,Unnamed: 0,MPE,TP_SEXO,TP_COR_RACA,TP_ST_CONCLUSAO,TP_DEPENDENCIA_ADM_ESC,TP_ESCOLA,TP_LOCALIZACAO_ESC,Q001,Q002,Q003,Q004,Q006,Q022,Q025
0,9,481.99000,Masculino,Branca,Estou cursando e concluirei o Ensino Médio em ...,NaN,Pública,NaN,"Completou o Ensino Médio, mas não completou a ...","Completou o Ensino Médio, mas não completou a ...","Grupo 2: Diarista, empregada doméstica, jardin...","Grupo 2: Diarista, empregada doméstica, babá, ...","De R$ 3.300,01 até R$ 3.960,00.","Sim, dois.",Sim
1,26,744.41250,Feminino,Branca,Estou cursando e concluirei o Ensino Médio em ...,Privada,Privada,Urbana,"Completou o Ensino Médio, mas não completou a ...","Completou o Ensino Médio, mas não completou a ...","Grupo 2: Diarista, empregada doméstica, jardin...","Grupo 2: Diarista, empregada doméstica, babá, ...","De R$ 2.640,01 até R$ 3.300,00.","Sim, dois.",Sim
2,28,479.76625,Feminino,Branca,Estou cursando e concluirei o Ensino Médio em ...,Estadual,Pública,Urbana,"Completou o Ensino Médio, mas não completou a ...",Não completou a 4ª série/5º ano do Ensino Fund...,"Grupo 2: Diarista, empregada doméstica, jardin...","Grupo 2: Diarista, empregada doméstica, babá, ...",Nenhuma renda.,"Sim, três.",Não.
3,31,516.73500,Feminino,Preta,Estou cursando e concluirei o Ensino Médio em ...,Estadual,Pública,Urbana,"Completou o Ensino Médio, mas não completou a ...","Completou a Faculdade, mas não completou a Pós...","Grupo 2: Diarista, empregada doméstica, jardin...","Grupo 4: Professora de ensino médio, técnica d...","Até R$ 1.320,00.","Sim, três.",Sim
4,34,630.12875,Masculino,Preta,Estou cursando e concluirei o Ensino Médio em ...,Estadual,Pública,Urbana,"Completou o Ensino Médio, mas não completou a ...","Completou a 4ª série/5º ano, mas não completou...","Grupo 2: Diarista, empregada doméstica, jardin...","Grupo 2: Diarista, empregada doméstica, babá, ...","Até R$ 1.320,00.","Sim, dois.",Sim

**REFERÊNCIAS::**
        
Microdados. Disponível em: <https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados>.
        
Enem. Disponível em: <https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/enem>.
        
SILVA, V. A. A. DA et al. Identificação de Desigualdades Sociais a partir do desempenho dos alunos do Ensino Médio no ENEM 2019 utilizando Mineração de Dados. Anais do XXXI Simpósio Brasileiro de Informática na Educação (SBIE 2020), 24 nov. 2020.
        
WEBER NETO, N. et al. A Pandemia da COVID-19 impactou o ENEM? Uma Análise Comparativa de Dados dos Anos de 2019 e 2020. RENOTE, v. 20, n. 1, p. 223–232, 31 ago. 2022.

Describre de todas as features de 2019

In [20]:
lista_grupos = ['TP_SEXO','TP_COR_RACA','TP_DEPENDENCIA_ADM_ESC','TP_LOCALIZACAO_ESC','Q001','Q002','Q003','Q004','Q006','Q022','Q025']
for grupo in lista_grupos:
    display(df19.groupby(grupo).MPE.describe())

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3504405077.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df19.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
TP_SEXO,,,,,,,,
Feminino,687259.0,532.410311,85.112787,75.0,470.2975,520.71875,586.563125,862.6775
Masculino,489513.0,545.144316,91.139249,115.0,476.9950,536.70625,606.778750,882.7325

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3504405077.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df19.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
TP_COR_RACA,,,,,,,,
Não declarado,24489.0,531.398098,93.120770,204.8525,462.041250,516.431250,591.591250,851.49375
Branca,473638.0,564.283744,90.419845,213.1425,496.607813,557.164375,628.605000,882.73250
Preta,130486.0,514.331398,76.208892,85.0000,459.932813,506.351250,560.712500,842.48000
Parda,514373.0,520.111413,81.589126,75.0000,460.827500,509.930000,570.683750,866.69000
Amarela,26902.0,536.463201,88.489453,220.5200,471.579062,523.996875,592.492188,851.36250
Indígena,6884.0,494.353214,71.079159,254.2775,444.779375,486.320000,536.837187,781.11375

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3504405077.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df19.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
TP_DEPENDENCIA_ADM_ESC,,,,,,,,
Federal,46377.0,608.533867,78.412986,220.5200,553.928750,611.745000,665.511250,848.40000
Estadual,712134.0,513.567647,72.723561,75.0000,461.466250,507.810000,560.323750,826.12875
Municipal,7642.0,537.196188,79.375066,239.8625,478.527500,534.441250,592.379063,800.00750
Privada,155144.0,627.751319,84.699296,215.1150,569.140937,633.361875,691.763750,882.73250

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3504405077.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df19.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
TP_LOCALIZACAO_ESC,,,,,,,,
Urbana,889951.0,538.714044,88.033306,75.0000,473.965000,527.97875,596.156250,882.73250
Rural,31346.0,511.036806,79.454261,213.1425,452.417813,501.54625,562.761563,804.54125

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3504405077.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df19.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
Q001,,,,,,,,
Nunca estudou.,40478.0,483.568358,68.312033,145.0000,435.775000,476.420000,522.505000,790.94250
Não completou a 4ª série/5º ano do Ensino Fundamental.,187281.0,501.636465,72.047409,75.0000,450.258750,493.953750,545.196250,847.73500
"Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.",165257.0,518.100356,76.505765,115.0000,463.016250,510.216250,565.988750,850.72125
"Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.",154371.0,527.599300,78.949916,155.0000,470.673125,519.486250,577.713750,852.83750
"Completou o Ensino Médio, mas não completou a Faculdade.",350451.0,549.770553,83.361651,120.0000,488.806250,542.833750,606.552500,854.48625
"Completou a Faculdade, mas não completou a Pós-graduação.",106564.0,602.187561,89.592869,254.9750,535.951875,604.215625,669.920938,862.67750
Completou a Pós-graduação.,66363.0,625.077622,91.466967,258.7400,560.473125,632.961250,695.339375,882.73250
Não sei.,106007.0,507.996876,76.403881,187.8775,453.324375,499.228750,553.856875,866.69000

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3504405077.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df19.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
Q002,,,,,,,,
Nunca estudou.,22700.0,476.726098,65.022748,145.000,431.443750,470.660000,514.305313,775.54875
Não completou a 4ª série/5º ano do Ensino Fundamental.,127750.0,494.819861,69.569849,85.000,445.545625,487.920000,536.232500,831.86375
"Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.",143592.0,508.378419,73.392104,75.000,456.105312,501.239375,553.732813,821.69500
"Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.",166286.0,518.013199,75.589871,155.000,464.194375,510.357500,564.596250,852.83750
"Completou o Ensino Médio, mas não completou a Faculdade.",423674.0,540.780729,81.785511,120.000,481.097813,533.230000,595.297188,854.48625
"Completou a Faculdade, mas não completou a Pós-graduação.",144119.0,588.932259,91.038278,221.990,520.621875,587.906250,657.565000,870.52625
Completou a Pós-graduação.,110491.0,603.815928,93.207976,214.745,534.143125,606.946250,675.762500,882.73250
Não sei.,38160.0,494.742719,76.286568,196.480,440.553437,484.286875,537.923437,866.69000

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3504405077.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df19.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
Q003,,,,,,,,
"Grupo 1: Lavrador, agricultor sem empregados, bóia-fria, criador de animais, pescador, lenhador, extrativista.",205664.0,496.366164,73.152792,145.000,444.102188,487.680000,539.770000,847.73500
"Grupo 2: Diarista, empregada doméstica, jardineiro, motorista particular, porteiro, atendente, vendedor, auxiliar de escritório.",237394.0,520.764358,76.335635,120.000,465.981250,513.068125,568.749687,827.54250
"Grupo 3: Padeiro, cozinheiro, mecânico, soldador, operador de máquina, eletricista, cabeleireiro, policial, técnico, pequeno comerciante.",287412.0,530.111857,77.014526,75.000,474.999375,523.263750,579.584375,854.48500
"Grupo 4: Professor, técnico de enfermagem, contador, militar de baixa patente, policial militar, mestre de obras, proprietário de pequeno negócio.",236043.0,581.956279,87.513132,115.000,516.894375,580.178750,646.481875,870.52625
"Grupo 5: Médico, engenheiro, dentista, advogado, professor universitário, empresário, diretor, proprietário de empresa de médio ou grande porte.",79090.0,629.401913,91.262549,214.745,565.910312,639.083750,699.274375,882.73250
F,131169.0,514.918997,78.315952,85.000,458.527500,505.342500,562.735000,866.69000

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3504405077.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df19.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
Q004,,,,,,,,
"Grupo 1: Lavradora, agricultora sem empregados, bóia-fria, criadora de animais, pescadora, lenhadora, extrativista.",162953.0,491.533477,71.182058,145.00000,440.545000,483.252500,533.818750,814.86625
"Grupo 2: Diarista, empregada doméstica, babá, cozinheira, costureira, manicure, atendente, balconista, auxiliar de escritório.",490198.0,522.936638,77.085061,75.00000,467.721250,514.935625,571.346250,852.83750
"Grupo 3: Padeira, cozinheira industrial, cabeleireira, operadora de máquina, técnica, enfermeira, professora de ensino fundamental, pequena comerciante.",86260.0,531.064208,77.508543,155.00000,475.260625,524.352500,581.496250,843.35875
"Grupo 4: Professora de ensino médio, técnica de laboratório, policial, militar, proprietária de pequeno negócio.",276628.0,578.607114,88.757234,115.00000,512.456250,575.865625,643.816250,870.52625
"Grupo 5: Médica, engenheira, dentista, advogada, professora universitária, empresária, diretora, proprietária de empresa de médio ou grande porte.",55122.0,632.695204,92.273337,284.64375,568.943125,643.691250,703.339375,882.73250
F,105611.0,526.230281,84.476132,85.00000,464.135000,515.596250,580.223125,866.69000

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3504405077.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df19.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
Q006,,,,,,,,
Nenhuma renda.,48289.0,484.008662,67.235041,145.00000,436.958750,476.460000,521.861250,811.05500
"Até R$ 1.320,00.",280263.0,495.638528,68.952193,75.00000,446.907500,488.727500,536.757500,816.35375
"De R$ 1.320,01 até R$ 1.980,00.",275609.0,515.726085,73.557544,85.00000,463.356250,509.090000,561.886250,830.77875
"De R$ 1.980,01 até R$ 2.640,00.",102519.0,536.918491,77.647397,238.20000,481.560625,530.786250,587.628125,850.72125
"De R$ 2.640,01 até R$ 3.300,00.",115706.0,541.584425,78.233005,221.12000,485.307813,535.855625,593.420625,852.83750
"De R$ 3.300,01 até R$ 3.960,00.",54299.0,560.114437,82.294853,232.78000,500.650000,555.688750,617.003750,840.33500
"De R$ 3.960,01 até R$ 5.280,00.",82381.0,565.563056,81.800506,225.08250,506.068750,561.976250,622.913750,847.73500
"De R$ 5.280,01 até R$ 6.600,00.",50199.0,585.393321,83.951213,254.97500,524.842500,585.270000,646.639375,866.69000
"De R$ 6.600,01 até R$ 7.920,00.",41833.0,591.466193,84.490805,265.94750,530.157500,592.248750,653.603750,849.98125
"De R$ 7.920,01 até R$ 9.240,00.",22281.0,605.412919,84.710419,285.57000,545.418750,608.465000,668.972500,869.30000
"De R$ 9.240,01 até R$ 10.560,00.",16964.0,608.923144,83.977250,298.55000,549.451563,611.548750,672.113438,845.43750
"De R$ 10.560,01 até R$ 11.880,00.",12558.0,621.015599,83.497813,304.28000,563.162500,626.181250,684.091875,835.41875
"De R$ 11.880,01 até R$ 13.200,00.",12381.0,623.206380,84.384427,333.48500,565.955000,628.961250,687.178750,856.66125
"De R$ 13.200,01 até R$ 15.840,00.",17510.0,635.451056,82.390763,332.65000,580.256875,641.954375,697.613438,882.73250
"De R$ 15.840,01 até R$ 19.800,00.",14213.0,646.365512,82.254669,336.08125,592.436250,654.806250,707.833750,871.15625
"De R$ 19.800,01 até R$ 26.400,00.",12455.0,658.595638,79.953848,281.00250,607.548125,668.253750,718.065000,862.67750
"Acima de R$ 26.400,00.",17312.0,672.694071,78.523245,354.39000,626.859375,683.254375,729.985312,857.73500

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3504405077.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df19.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
Q022,,,,,,,,
Não.,28975.0,500.640836,79.085894,204.4025,443.615625,489.188750,545.569375,807.26000
"Sim, um.",204917.0,498.261924,73.287205,155.0000,446.507500,489.468750,540.620000,845.63000
"Sim, dois.",315668.0,525.936004,80.620162,75.0000,467.768750,516.826250,576.802500,847.30875
"Sim, três.",364722.0,550.576781,86.966465,115.0000,486.352500,542.290625,609.768438,871.15625
"Sim, quatro ou mais.",262490.0,568.867268,93.227845,187.8775,498.303750,562.158750,637.128750,882.73250

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3504405077.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df19.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
Q025,,,,,,,,
Não.,238945.0,492.477742,68.676139,75.0,443.91750,485.63375,533.42375,846.96125
Sim,937827.0,549.231269,88.532784,85.0,483.57875,540.00375,609.51250,882.73250

Describre de todas as features de 2023

In [21]:
for grupo in lista_grupos:
    display(df23.groupby(grupo).MPE.describe())

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3760791724.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df23.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
TP_SEXO,,,,,,,,
Feminino,601593.0,554.203887,95.079791,55.0,483.38125,549.87875,623.06000,860.41625
Masculino,406469.0,561.040776,99.486737,115.0,488.11125,558.67625,632.52625,890.25875

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3760791724.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df23.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
TP_COR_RACA,,,,,,,,
Não declarado,11008.0,545.727370,102.268266,197.1875,467.917500,539.382500,619.842187,847.45625
Branca,461003.0,584.124370,95.940595,115.0000,514.369375,584.458750,655.559375,869.95875
Preta,109266.0,527.689417,87.773060,161.0125,464.034063,522.920625,587.959375,856.55000
Parda,406555.0,535.356875,91.852411,55.0000,467.479375,530.278750,599.470000,890.25875
Amarela,15070.0,550.518963,103.660100,191.8375,472.365313,539.930625,626.039062,846.96500
Indígena,5160.0,494.876222,82.660262,187.7000,434.592813,486.355625,549.295313,789.79875

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3760791724.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df23.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
TP_DEPENDENCIA_ADM_ESC,,,,,,,,
Federal,43398.0,614.375620,83.708863,188.08125,558.980625,620.632500,675.321563,855.12875
Estadual,430574.0,530.698694,86.300016,55.00000,468.260313,528.535000,591.457188,868.41500
Municipal,5582.0,541.128460,88.841842,212.13750,475.959063,539.269375,602.529375,802.77500
Privada,213112.0,637.378139,86.647830,199.57500,580.197500,646.340625,701.721562,890.25875

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3760791724.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df23.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
TP_LOCALIZACAO_ESC,,,,,,,,
Urbana,669952.0,570.260107,99.536764,55.0000,496.637187,569.369375,644.39125,890.25875
Rural,22714.0,527.178955,93.438962,182.4875,456.290000,522.040000,594.52000,846.68125

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3760791724.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df23.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
Q001,,,,,,,,
Nunca estudou.,25870.0,494.387949,83.693473,145.70500,433.362188,487.60500,550.350937,830.92125
Não completou a 4ª série/5º ano do Ensino Fundamental.,123953.0,515.975703,86.143158,55.00000,453.121250,510.65000,574.922500,827.44125
"Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.",123090.0,533.705897,87.526682,115.00000,469.892812,530.00875,594.806250,837.93375
"Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.",122500.0,541.899585,88.423350,182.48750,477.416250,538.58750,603.739375,856.36500
"Completou o Ensino Médio, mas não completou a Faculdade.",323423.0,564.758711,90.322379,161.01250,499.473750,563.94125,630.316875,863.06250
"Completou a Faculdade, mas não completou a Pós-graduação.",103226.0,617.548311,91.956230,215.44375,553.760000,624.60250,686.930938,890.25875
Completou a Pós-graduação.,80759.0,635.267288,95.294691,164.83125,571.143125,647.02500,707.819375,868.41500
Não sei.,105241.0,521.861274,87.136550,160.01250,458.600000,516.72000,581.045000,838.94750

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3760791724.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df23.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
Q002,,,,,,,,
Nunca estudou.,13058.0,484.640989,81.844044,170.83750,425.493750,477.029375,537.877187,830.92125
Não completou a 4ª série/5º ano do Ensino Fundamental.,77402.0,506.143006,84.585778,55.00000,444.409375,500.377500,563.584375,838.19625
"Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.",94756.0,520.232938,84.729028,174.75625,458.665937,515.593750,578.101875,837.93375
"Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.",123412.0,529.474355,86.121901,145.70500,467.084687,525.795000,588.930625,847.09625
"Completou o Ensino Médio, mas não completou a Faculdade.",386682.0,554.726245,89.134863,115.00000,490.159063,552.647500,618.540000,890.25875
"Completou a Faculdade, mas não completou a Pós-graduação.",138756.0,603.146599,94.495407,175.00000,536.170625,607.764375,674.664062,869.95875
Completou a Pós-graduação.,137116.0,615.941247,96.756613,192.58750,547.538750,623.770000,690.317188,867.43375
Não sei.,36880.0,505.938029,87.301695,176.82500,442.388438,498.231250,562.936563,832.60250

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3760791724.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df23.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
Q003,,,,,,,,
"Grupo 1: Lavrador, agricultor sem empregados, bóia-fria, criador de animais, pescador, lenhador, extrativista.",153042.0,512.379025,88.507894,55.00000,446.538750,505.523125,573.160312,833.49750
"Grupo 2: Diarista, empregada doméstica, jardineiro, motorista particular, porteiro, atendente, vendedor, auxiliar de escritório.",188314.0,538.865648,87.079981,115.00000,475.681250,535.431875,599.837188,847.60375
"Grupo 3: Padeiro, cozinheiro, mecânico, soldador, operador de máquina, eletricista, cabeleireiro, policial, técnico, pequeno comerciante.",242692.0,548.541080,86.376163,144.05625,486.463438,546.561250,609.226250,843.67500
"Grupo 4: Professor, técnico de enfermagem, contador, militar de baixa patente, policial militar, mestre de obras, proprietário de pequeno negócio.",211969.0,600.849579,91.670921,164.83125,536.300000,605.226250,669.707500,890.25875
"Grupo 5: Médico, engenheiro, dentista, advogado, professor universitário, empresário, diretor, proprietário de empresa de médio ou grande porte.",83391.0,639.713117,95.546742,199.57500,577.016250,653.435000,712.081875,869.95875
F,128654.0,526.412496,88.619052,161.25625,461.747813,520.651250,586.545313,852.86375

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3760791724.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df23.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
Q004,,,,,,,,
"Grupo 1: Lavradora, agricultora sem empregados, bóia-fria, criadora de animais, pescadora, lenhadora, extrativista.",118234.0,505.284322,86.941252,170.8375,440.361875,498.015625,564.748125,830.92125
"Grupo 2: Diarista, empregada doméstica, babá, cozinheira, costureira, manicure, atendente, balconista, auxiliar de escritório.",395101.0,540.878333,87.474602,55.0000,477.668750,537.373750,601.797500,890.25875
"Grupo 3: Padeira, cozinheira industrial, cabeleireira, operadora de máquina, técnica, enfermeira, professora de ensino fundamental, pequena comerciante.",67270.0,546.539343,87.191565,162.6250,483.510313,544.041250,607.892500,855.83250
"Grupo 4: Professora de ensino médio, técnica de laboratório, policial, militar, proprietária de pequeno negócio.",267307.0,595.342344,92.872474,160.0125,529.313750,598.916250,664.871250,869.95875
"Grupo 5: Médica, engenheira, dentista, advogada, professora universitária, empresária, diretora, proprietária de empresa de médio ou grande porte.",63068.0,638.341937,98.581582,197.1875,573.024063,653.053750,713.575625,866.97750
F,97082.0,534.019473,92.922736,182.4875,465.119375,527.924375,598.554688,856.36500

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3760791724.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df23.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
Q006,,,,,,,,
Nenhuma renda.,51535.0,491.578676,80.204538,165.07250,433.753125,484.123750,543.041875,818.33000
"Até R$ 1.320,00.",290700.0,513.944343,83.563685,55.00000,453.230937,508.839375,571.022813,838.19625
"De R$ 1.320,01 até R$ 1.980,00.",153079.0,539.521391,84.307468,160.01250,479.273125,537.258750,598.574375,842.86625
"De R$ 1.980,01 até R$ 2.640,00.",112923.0,553.756471,85.392951,161.25625,492.746875,552.458750,614.627500,847.60375
"De R$ 2.640,01 até R$ 3.300,00.",82247.0,566.075228,86.683190,204.71250,504.409375,566.436250,628.494375,850.66125
"De R$ 3.300,01 até R$ 3.960,00.",50571.0,578.764587,87.350009,164.83125,517.110625,580.197500,642.366875,850.43375
"De R$ 3.960,01 até R$ 5.280,00.",78753.0,590.816967,87.824025,215.46500,529.313750,593.956250,655.592500,856.59000
"De R$ 5.280,01 até R$ 6.600,00.",42305.0,605.855809,89.680096,203.94375,543.538750,611.528750,673.451250,890.25875
"De R$ 6.600,01 até R$ 7.920,00.",26399.0,614.213387,89.152325,215.44375,553.380000,621.093750,681.854375,850.37750
"De R$ 7.920,01 até R$ 9.240,00.",23156.0,623.397405,88.702587,221.95625,564.197187,631.656875,689.470625,863.06250
"De R$ 9.240,01 até R$ 10.560,00.",18603.0,631.276519,87.588797,235.10625,572.791250,640.278750,697.078125,868.41500
"De R$ 10.560,01 até R$ 11.880,00.",12423.0,637.078683,88.024338,243.45625,580.982500,648.052500,702.275625,847.09625
"De R$ 11.880,01 até R$ 13.200,00.",10500.0,646.309747,87.059628,225.29375,591.115937,657.317500,711.056562,866.97750
"De R$ 13.200,01 até R$ 15.840,00.",13015.0,650.571300,86.595598,263.55000,595.020625,662.472500,715.419375,859.69000
"De R$ 15.840,01 até R$ 19.800,00.",12836.0,658.314245,86.389143,265.49375,605.433125,670.681875,721.214687,860.82750
"De R$ 19.800,01 até R$ 26.400,00.",12048.0,670.344157,84.236157,199.57500,621.210312,683.895625,731.313125,860.41625
"Acima de R$ 26.400,00.",16969.0,678.798094,85.196655,242.73750,631.540000,693.518750,739.390000,869.95875

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3760791724.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df23.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
Q022,,,,,,,,
Não.,27827.0,521.074525,89.534338,175.5500,456.585625,513.455000,581.339375,845.70750
"Sim, um.",140266.0,511.629228,86.773639,145.7050,448.412813,504.981875,569.280625,868.41500
"Sim, dois.",243096.0,543.206254,91.181952,55.0000,476.680937,539.570000,607.282813,859.93375
"Sim, três.",334101.0,567.721156,94.437893,115.0000,498.816250,566.307500,636.748750,866.97750
"Sim, quatro ou mais.",262772.0,584.001578,99.317907,163.0375,510.504375,584.420000,659.197500,890.25875

C:\Users\nickt\AppData\Local\Temp\ipykernel_15376\3760791724.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df23.groupby(grupo).MPE.describe())

,count,mean,std,min,25%,50%,75%,max
Q025,,,,,,,,
Não.,78614.0,500.267780,81.889057,165.0725,441.030000,494.388125,554.949375,830.92125
Sim,929448.0,561.755807,96.591617,55.0000,490.494687,558.841250,631.837500,890.25875